
*{
  box-sizing: border-box;
}

body{
  font-family: Poppins, sans-serif;
  padding: 0 16px;
}


/* navbar */

.header-container{
  position: fixed;
  padding: 4px 24px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  top: 0px;
  left:0px;
  background-color: white;
  
}

header .navbar{
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 400px;

}


nav.mobile-navbar{
  display: flex;
  width: 80px;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  top: 0;
  z-index: 2;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding: 16px 54px;
  right: -160px;
  transition: transform 0.3s;
}

nav.mobile-navbar.open-mobile-nav{
  transform: translateX(-160px);
}

nav.mobile-navbar a{
  margin: 16px 0;
}

header .navbar a,
nav.mobile-navbar a{
  text-decoration: none;
  color: black;
}
header .navbar a:hover,
nav.mobile-navbar a:hover{
  text-decoration: underline;
}
header .navbar .img-link img,
nav.mobile-navbar .img-link img{
  width: 24px;
  height: 24px;
}

/* open-nav */

.open-nav{
  width: 50px;
  height: 50px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.open-nav div{
  width: 36px;
  height: 4px;
  background-color: black;
  margin: 3px;
  border-radius: 10px;
  animation: 0.7s forwards ease;
  animation-direction: normal;
  animation-name: none;
}

.open-nav.playing-animation .top-line{
  animation-name: rotate-right;
}

.open-nav.playing-animation .bottom-line{
  animation-name: rotate-left;
}

.open-nav.playing-animation .middle-line{
  animation-name: fade;
}

@keyframes fade{
  from{
    opacity: 1;
    transform: scaleX(1);
  }
  to{
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes rotate-right{
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes rotate-left{
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
/* grid default*/

.grid-container{
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  margin-top: 100px;
  grid-template-areas: 
    "eth eth"
    "alphabet alphabet"
    "traveler traveler"
    "astro cube"
    "insta insta"
    "cup cup"
    "foam foam"
    "dimensional dimensional"; 
}

.eth{
  grid-area: eth;
}

.alphabet{
  grid-area: alphabet;
}

.traveler{
  grid-area: traveler;
}

.astro{
  grid-area: astro;
}

.cube{
  grid-area: cube;
}

.insta{
  grid-area: insta;
}

.cup{
  grid-area: cup;
}

.foam{
  grid-area: foam;
}

.dimensional{
  grid-area: dimensional;
}

.img-container{
  position: relative;
}

.img-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* text on image*/
.clickable{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 2rem;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.1); 
  opacity: 0;
  transition: all 0.2s;
}

.clickable:hover{
  opacity: 1;
  cursor: pointer;
}

.white{
  color: white;
}

/* footer */

footer{
  padding: 2rem;
  text-align: center;
  font-size: 14px;
}

/* make it responsive*/


@media only screen and (min-width: 769px){
  nav.mobile-navbar{
    display: none;
  }
  .header-container{
    position:static;
    padding: 4rem 0;
  }
  header .navbar{
    display: flex;
  }

  header .open-nav{
    display: none;
  }
  .clickable{
    font-size: 2.25rem;
  }
  .grid-container{
    margin-top: 0;
    grid-template-areas: 
      "eth eth"
      "alphabet traveler"
      "astro cube"
      "insta insta"
      "cup foam"
      "dimensional dimensional"; 
  }

  footer{
    font-size: 1.5rem;
    padding: 4rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1101px){
  body{
    max-width: 90%;
    margin: 0 auto;
  }

  .grid-container{
    grid-template-areas: 
      "eth eth alphabet"
      "eth eth traveler"
      "astro cube  traveler"
      "astro cube traveler"
      "cup insta insta"
      "cup insta insta"
      "foam foam dimensional"
      "foam foam dimensional"; 
  }


}